head
  title #{site.title} | #{title}
  meta(name='viewport' content='width=device-width initial-scale=1')
  link(rel='stylesheet' href='#{settings.theme}framework.css')
  link(rel='stylesheet' href='#{settings.theme}style.css')
  link(rel="stylesheet" href='#{settings.theme}zenburn.css')
  script(src='/static/highlight.min.js')
  script hljs.initHighlightingOnLoad();
