head
    title #{site.title} | #{title}
    meta(name='viewport' content='width=device-width initial-scale=1')
    link(rel='stylesheet' href='#{settings.theme}')
    //link(rel="stylesheet" href='#{settings.theme}zenburn.css')
    //script(src=settings.script_entry)
    //script hljs.initHighlightingOnLoad();
script(src='../jspm_packages/system.js')
script(src='../jspm_config.js')
script.
    System.import('./core.min.js');
