doctype html
html
    include partials/head.jade
    body
        .contain
            include partials/header.jade
            .eight.col

                p(style='color: #666;')= moment(date).format('MMMM Do YYYY')
                div!= contents
                if previous
                    p(style='text-align: right; float: right;'): a(href="/#{previous.path}/") #{previous.title + ' >>'}
                if next
                    p(style='text-align: left; float: left;'): a(href="/#{next.path}/") #{'<< ' + next.title}
                hr
            .four.col
                include partials/sidenav.jade
            .twelve.col
                include partials/footer.jade
